@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .logo,
  .search,
  .social {
    display: block;
    width: auto;
    margin: 0;
    max-width: 100%;
  }

  .search {
    margin: 1.5rem 0;
  }

  main {
    background-color: #ffd939;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
  }

  .important-news {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    margin: 0;
  }

  .article {
    width: auto;
    max-width: 100%;
  }

  .article:last-child,
  .article:first-child {
    margin: 0;
  }

  .article:first-child {
    margin-bottom: 0.75em;
  }

  .article:last-child {
    margin-top: 0.75em;
  }

  .notice {
    width: auto;
    max-width: 100%;
  }

  section {
    width: auto;
    max-width: 100%;
    margin: 0;
  }

  aside {
    width: auto;
    max-width: 100%;
    margin: 1.5em 0 0 0;
  }
}
